---
import Icon from 'astro-icon';
import { getNetworks } from '../../services/networks';

const networks = await getNetworks();
---

<div class="flex gap-8">
  {
    networks.facebook && (
      <a
        href={networks.facebook}
        target="_blank"
      >
        <Icon
          name="mdi:facebook"
          class="w-6"
        />
      </a>
    )
  }
  {
    networks.instagram && (
      <a
        href={networks.instagram}
        target="_blank"
      >
        <Icon
          name="mdi:instagram"
          class="w-6"
        />
      </a>
    )
  }
  {
    networks.twitter && (
      <a
        href={networks.twitter}
        target="_blank"
      >
        <Icon
          name="mdi:twitter"
          class="w-6"
        />
      </a>
    )
  }
  {
    networks.whatsapp && (
      <a
        href={networks.whatsapp}
        target="_blank"
      >
        <Icon
          name="mdi:whatsapp"
          class="w-6"
        />
      </a>
    )
  }
</div>
