---
import { getNetworks } from '../../services/networks';
import SocialNetworks from '../SocialNetworks/SocialNetworks.astro';

const networks = await getNetworks();
---

<div class="hero relative overflow-hidden">
  <!-- wave -->
  <div class="relative flex flex-col h-full max-h-full">
    <div class="z-0 h-full">
      <div class="shape h-[40vh] md:h-[60vh] 2xl:h-[45vh] -z-10">
        <img
          class="w-full h-full"
          src="/laser/images/hero-shape.png"
          alt="Background Wave"
        />
      </div>
      <div
        class="flex flex-col z-10 text-primary h-full px-4 pt-5 lg:pt-10 max-w-[1440px] md:px-20 mx-auto"
      >
        <div
          class="text-3xl md:text-4xl flex gap-2.5 justify-center md:justify-start mt-20"
        >
          <h2 class="text-primary m-0">Lorem Ipsum</h2>
          <div class="overflow-hidden font-semibold h-[2.25rem] md:h-10">
            <ul class="text-red-500 animation mt-0">
              <li>Lorem 1</li>
              <li>Lorem 2</li>
              <li>Lorem 3</li>
            </ul>
          </div>
        </div>

        <p class="text-xl text-slate-950 pt-10 lg:pt-20">
          Neque porro quisquam est qui dolorem ipsum quia, <br /> dolor sit
          amet, consectetur, adipisci velit..."
        </p>

        <button class="btn mt-10 py-2 px-8 rounded block">Contáctanos</button>

        <div class="absolute bottom-10">
          <SocialNetworks />
        </div>
      </div>
      <!-- Image -->
      <div
        class="hidden lg:block absolute bottom-0 right-0 md:w-1/2 h-full w-full -z-20"
      >
        <img
          class="image"
          src="/laser/images/hero-medico-1.png"
        />
        <img
          class="image"
          src="/laser/images/hero-medico-2.png"
        />
        <img
          class="image"
          src="/laser/images/hero-medico-3.png"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .hero {
    height: calc(100vh - 56px);
    max-height: 820px;
    background:
      linear-gradient(90deg, #80cde000, #41e1d166),
      url(/laser/images/modern-hospital-hero.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  .shape {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .animation {
    animation: 6s linear 0s normal none infinite change;
  }
  @keyframes change {
    0% {
      margin-top: 0;
    }
    15% {
      margin-top: 0;
    }
    25% {
      margin-top: -40px;
    }
    40% {
      margin-top: -40px;
    }
    50% {
      margin-top: -80px;
    }
    65% {
      margin-top: -80px;
    }
    75% {
      margin-top: -40px;
    }
    85% {
      margin-top: -40px;
    }
    100% {
      margin-top: 0;
    }
  }

  @media (max-width: 769px) {
    @keyframes change {
      0% {
        margin-top: 0;
      }
      15% {
        margin-top: 0;
      }
      25% {
        margin-top: -36px;
      }
      40% {
        margin-top: -36px;
      }
      50% {
        margin-top: -75px;
      }
      65% {
        margin-top: -75px;
      }
      75% {
        margin-top: -36px;
      }
      85% {
        margin-top: -36px;
      }
      100% {
        margin-top: 0;
      }
    }
  }
  .background-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center bottom;
    animation: changeBackground 12s infinite;
    animation-fill-mode: both;
    opacity: 0;
  }

  .image:nth-of-type(1) {
    animation-delay: 0s;
  }
  .image:nth-of-type(2) {
    animation-delay: 4s;
  }
  .image:nth-of-type(3) {
    animation-delay: 8s;
  }

  @keyframes changeBackground {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    28% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
  }
</style>
