---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu/Menu.astro';
---

<Layout pageTitle="Acerca de mi">
  <main class="min-h-screen">
    <Menu />

    <h1 class="text-center p-10 text-4xl">Acerca de mi</h1>
  </main>
</Layout>
<style>
  main {
    background: linear-gradient(90deg, #80cde000, #41e1d166);
  }
</style>
