---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Acerca de mi"
  slug=""
>
  <main class="min-h-screen">
    <h1 class="text-center p-10 text-4xl">Acerca de mi</h1>
    <p>Prueba de ramas</p>
  </main>
</Layout>
<style>
  main {
    background: linear-gradient(90deg, #80cde000, #41e1d166);
  }
</style>
