---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Blog">
  <main class="min-h-screen">
    <h1 class="text-center p-10 text-4xl">Blog</h1>
  </main>
</Layout>
<style>
  main {
    background: linear-gradient(90deg, #80cde000, #41e1d166);
  }
</style>
