---
import Layout from '../layouts/Layout.astro';

import ContactForm from '../components/Contact/ContactForm/ContactForm.astro';
import ContactInfo from '../components/Contact/ContactInfo/ContactInfo.astro';
---

<Layout
  title="Contacto"
  slug=""
>
  <main class="">
    <section class="contact">
      <h2
        class="flex justify-center items-center text-4xl pt-4 font-medium text-primary"
      >
        Contáctanos
      </h2>

      <div class="main">
        <div class="flex flex-col md:flex-row gap-8 p-8">
          <!-- Info -->
          <ContactInfo />

          <!-- Form -->
          <ContactForm />
        </div>
      </div>
    </section>
  </main>

  <style>
    .contact {
      /* height: calc(100vh); */
      background:
        linear-gradient(90deg, #80cde000, #41e1d166),
        url(/images/modern-hospital-contact.jpg) no-repeat center center fixed;
      /* background: linear-gradient(90deg, #80cde000, #41e1d166); */

      background-size: cover;
    }
  </style>
</Layout>
