---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Welcome to Astro.">
  <div class="flex flex-col pt-20 md:px-20 hero overflow-hidden">
    <div
      class="text-3xl md:text-4xl flex gap-2.5 justify-center md:justify-start"
    >
      <h2 class="text-primary m-0">Lorem Ipsum</h2>
      <div class="overflow-hidden font-semibold h-[2.25rem] md:h-10">
        <ul class="text-red-500 animation mt-0">
          <li>Lorem 1</li>
          <li>Lorem 2</li>
          <li>Lorem 3</li>
        </ul>
      </div>
    </div>
    <div
      class="relative flex md:flex-row items-end md:items-center h-full z-0 overflow-hidden"
    >
      <div class="md:w-1/2 flex flex-col gap-8 z-10 p-4">
        <p class="text-xl text-slate-950">
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
          consectetur, adipisci velit..."
        </p>

        <button class="btn py-2 px-8 rounded block mx-auto md:ml-0">
          Contáctanos</button
        >
      </div>
      <!-- Image -->
      <div class="absolute top-0 md:relative md:w-1/2 h-full w-full -z-10">
        <img
          class="h-full w-full object-cover object-top"
          src="/laser/images/hero-img.png"
          alt="Imagen de sala de ateción"
        />
      </div>
    </div>
  </div>
</Layout>

<main>
  Hola

  <p class="font-sans ...">The quick brown fox ...</p>
  <p class="font-serif ...">The quick brown fox ...</p>
  <p class="font-mono ...">The quick brown fox ...</p>

  <h1>Hola</h1>
  <h1 class="font-primary">Hola</h1>
</main>

<style>
  .hero {
    /* height: calc(100vh - 64px); */
    height: calc(100vh);
    background:
      linear-gradient(90deg, #80cde000, #41e1d166),
      url(/laser/images/modern-hospital_opt.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  .animation {
    animation: 6s linear 0s normal none infinite change;
  }
  @keyframes change {
    0% {
      margin-top: 0;
    }
    15% {
      margin-top: 0;
    }
    25% {
      margin-top: -40px;
    }
    40% {
      margin-top: -40px;
    }
    50% {
      margin-top: -80px;
    }
    65% {
      margin-top: -80px;
    }
    75% {
      margin-top: -40px;
    }
    85% {
      margin-top: -40px;
    }
    100% {
      margin-top: 0;
    }
  }

  @media (max-width: 769px) {
    @keyframes change {
      0% {
        margin-top: 0;
      }
      15% {
        margin-top: 0;
      }
      25% {
        margin-top: -36px;
      }
      40% {
        margin-top: -36px;
      }
      50% {
        margin-top: -72px;
      }
      65% {
        margin-top: -72px;
      }
      75% {
        margin-top: -36px;
      }
      85% {
        margin-top: -36px;
      }
      100% {
        margin-top: 0;
      }
    }
  }
</style>
