---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Welcome to Astro.">
  <section
    class="relative flex flex-col justify-center pl-[15vw] gap-12 w-full z-0 hero"
  >
    <div class="absolute max-h-[95vh] bottom-0 right-0 overflow-hidden -z-10">
      <img
        class="h-full w-full"
        src="/laser/images/hero-img.png"
        alt="Imagen de sala de ateción"
      />
    </div>

    <h2 class="text-4xl text-primary">Lorem Ipsum</h2>
    <p class="text-lg text-slate-950">
      Neque porro quisquam est qui dolorem ipsum<br /> quia dolor sit amet,
      consectetur, adipisci velit..."
    </p>

    <button class="btn py-2 px-8 rounded"> Contáctanos</button>
  </section>

  <main>
    Hola

    <p class="font-sans ...">The quick brown fox ...</p>
    <p class="font-serif ...">The quick brown fox ...</p>
    <p class="font-mono ...">The quick brown fox ...</p>

    <h1>Hola</h1>
    <h1 class="font-primary">Hola</h1>
  </main>
</Layout>

<style>
  .hero {
    /* height: calc(100vh - 64px); */
    height: calc(100vh);
    background:
      linear-gradient(90deg, #80cde000, #41e1d166),
      url(/laser/images/modern-hospital_opt.jpg) no-repeat center center fixed;
    background-size: cover;
  }
</style>
