---
import Icon from 'astro-icon';
---

<input
  class="peer hidden"
  type="checkbox"
  id="btn-modal"
/>
<div
  class="w-full h-full fixed top-0 left-0 hidden justify-center items-center z-50 bg-slate-900 bg-opacity-70 peer-checked:flex"
>
  <div
    class="relative w-11/12 md:w-full max-w-[800px] p-5 bg-slate-100 rouded content-modal"
  >
    <label
      for="btn-modal"
      class="absolute top-2 right-2 cursor-pointer hover:bg-slate-200 p-1"
    >
      <Icon
        name="mdi:close-box-outline"
        class="w-6 h-6"
      />
    </label>
    <h2
      id="title"
      class="border-b border-b-gray-300"
    >
    </h2>

    <div class="p-4">
      <!-- Direccion -->
      <span class="flex gap-4 items-center">
        <Icon
          name="mdi:map-marker"
          class="w-5 h-5"
        />

        <p id="address"></p>
      </span>

      <!-- Teléfono -->
      <span class="flex gap-4 items-center">
        <Icon
          name="mdi:phone"
          class="w-5 h-5"
        />
        <p id="phone"></p>
      </span>

      <!-- Email -->
      <span class="flex gap-4 items-center">
        <Icon
          name="mdi:email"
          class="w-5 h-5"
        />
        <p id="email"></p>
      </span>
    </div>

    <div
      class="h-[300px]"
      id="mapas"
    >
    </div>
    <!-- <div class="w-full mt-4 flex justify-end">
      <label
        class="py-2 px-2.5 bg-primary text-white rounded cursor-pointer hover:bg-cyan-950"
        for="btn-modal"
        >Cerrar</label
      >
    </div> -->
  </div>
  <!-- Cierro el modal si presiono afuera -->
  <label
    for="btn-modal"
    class="w-full h-full absolute top-0 left-0 -z-10"
  ></label>
  <div id="map"></div>
</div>
