---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<div
  class="flex flex-col justify-center items-start w-[300px] gap-4 p-4 rounded border bg-slate-50 bg-opacity-60 border-primary"
>
  <slot />
  <h3 class="font-semibold">{title}</h3>
  <p>{content}</p>
</div>
